if SHIELD_PHANTOM_LEFT

config ZMK_KEYBOARD_NAME
    default "Phantom"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_PHANTOM_LEFT

if SHIELD_PHANTOM_LEFT || SHIELD_PHANTOM_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_PHANTOM_LEFT || SHIELD_PHANTOM_RIGHT
