/*
 * Cheapino v2 keymap — 36-key, single RP2040-Zero MCU.
 * RJ45 connectors extend the matrix across both halves; no split comms needed.
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define CK  0
#define NAV 1
#define SYM 2
#define FN  3
#define SYS   4
#define MOUSE 5

#define BOARD_36

#include "includes/layers.h"

#include "includes/base_layers.dtsi"
