#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define CMK 0
#define NUM 1
#define SYM 2
#define SYS 3

//  _______________________  _______________________
// |  0  |  1  |  2  |  3  \/   4 |   5 |   6 |   7 |
//       \  8  |  9  | 10  /\  11 |  12 |  13 /
//             \ 14  | 15 /  \ 16 |  17 /
//              ----------    ----------

/ {
		combos {
			compatible = "zmk,combos";

			combo_bkspc {
				key-positions = <14 15>;
				bindings = <&kp BSPC>;
			};

			combo_esc {
				key-positions = <4 11>;
				bindings = <&kp ESC>;
			};

			combo_tab {
				key-positions = <3 10>;
				bindings = <&kp TAB>;
			};

			combo_sys {
				key-positions = <14 17>;
				bindings = <&mo SYS>;
			};
		};

    keymap {
        compatible = "zmk,keymap";

        colemak {
            bindings = <
                &kp A    &kp R     &kp S     &kp T        &kp N    &kp E     &kp I     &kp O
                         &kp X     &kp C     &kp D        &kp H    &kp COMMA &kp DOT
                                   &mo NUM   &kp SPACE    &kp RET  &mo SYM
            >;
        };
        numbers {
            bindings = <
                &kp N1    &kp N2  &kp N3     &kp N4        &kp LEFT &kp DOWN &kp UP     &kp RIGHT
                          &kp N5  &kp N6     &kp N7        &kp N8   &kp N9	 &kp N0
                                  &trans     &trans        &trans   &trans
            >;
        };
        symbols {
            bindings = <
                &kp LS(N4)    &kp LPAR     &kp SQT     &kp RPAR        &kp LT    &kp EQUAL  &kp GT      &kp SEMI
                              &kp LBRC		 &kp LS(N2)  &kp RBRC        &kp H     &kp COMMA	&kp LS(SQT)
                                           &trans      &trans          &trans    &trans
            >;
        };
        bluetooth {
            bindings = <
                &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3        &bt BT_SEL 4  &none  &bootloader  &sys_reset
                              &bt BT_CLR   &bt BT_PRV    &bt BT_NXT          &none         &none  &none
                                           &trans        &trans              &trans        &trans
            >;
        };
    };
};
